@tailwind base;
@tailwind components;
@tailwind utilities;


.home-container {
    background-image: url('./assets/appBackground.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.home-img {
    background-image: url('./assets/appfront.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-color {
    background: radial-gradient(circle at center, #f3f3f3, #aab0b6);
}

.head-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.h-120vh {
    height: 120vh;
  }